/* styles.css */

/*fonts*/

@font-face {
font-family: 'Horizon';
src: url(fonts/horizon.otf);
}

@font-face {
font-family: 'Gotham';
src: url(fonts/Gotham/Gotham-light.otf);
}


h1, h2, h3, h4, h5, h6 {
font-family: 'Libre Baskerville', serif;
}

body {
margin: 0;
font-family: 'Montserrat', sans-serif;
overflow-x: hidden !important;
background-color: #e9e9e9;
}

.nav-bar {
position: fixed;
top: 0;
width: 100vw;
z-index: 1000;
}

.top-bar {
background: #0e0d0d;
color: #f7f7f7;
text-align: center;
padding: 10px 0;
text-transform: uppercase;
letter-spacing: 7px;
font-family: 'Libre Baskerville';
opacity: 0;
transition: opacity 0.3s ease-in-out;
display: none;
}

.bottom-bar {
background: #2e2e2e21;
color: #fff;
text-align: center;
padding: 10px 0;
transition: opacity 0.3s ease-in-out;
}

.bottom-bar ul {
list-style: none;
padding: 0;
margin: 0;
}

.bottom-bar li {
display: inline;
margin: 0 15px;
}

.bottom-bar a {
color: #fff;
text-decoration: none;
}

.intro-section {
width: 100vw;
background: #000;
color: #fff;
text-align: center;
display: flex;
justify-content: center;
height: 100vh;
background-image: url(test_image_30.png);
background-repeat: no-repeat;
background-size: cover;
}

.intro-content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
}

.intro-content h1 {
margin: 0;
letter-spacing: 7px;
text-transform: uppercase;
font-weight: 400;
}

.btn {
margin: 10px;
padding: 10px 20px;
border: none;
cursor: pointer;
}

.explore {
background-color: #111111;
color: #fff;
}

.subsidiaries-section {
display: flex;
flex-wrap: wrap;
justify-content: center;
min-height: 100vh;
}

@media (min-width: 850px) {
.subsidiaries-section {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
margin-top: 20px;
margin-bottom: 20px;
}

.box {
background: #f5f5f5;
margin: 0;
width: 100% !important;
height: 100vh;  
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




}

@media (max-width: 849px) {
.subsidiaries-section {
display: flex;
flex-direction: column;
gap: 20px;
margin-top: 20px;
margin-bottom: 20px;
}

body {
    text-align: center !important;
    overflow-x: hidden !important;
}
}

.box {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: center;
background: #f5f5f5;
margin: 0;
width: 90vw;
height: 100vh;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.indust {
background-color: #000;
color: #fff;
}

.indust h2 {
font-family: 'Montserrat';
letter-spacing: 6px;
font-weight: 500;
text-transform: uppercase;
}

.indust .btn {
font-family: 'Montserrat';
}

.indust .learn-more {
background-color: #000;
color: #fff;
border: 1px solid #fff;
}

.tech h2 {
text-transform: uppercase;
font-family: 'Horizon';
letter-spacing: 5px;
font-size: 2.2em;
line-height: 0;
}

.tech h3 {
text-transform: uppercase;
letter-spacing: 3px;
font-family: 'Gotham';
font-size: .9em;
}

.tech .btn {
font-family: 'Nunito';
letter-spacing: 1.2px;
}

.tech p {
font-family: 'Nunito';
}

.tech .learn-more {
background-color: #f5f5f5;
border: 1px solid #000;
color: #000;
font-weight: bold;
}

.tech .view-site {
color: #f5f5f5;
background-color: #000;
}

.found h2 {
font-family: 'Cormorant Garamond';
text-transform: uppercase;
letter-spacing: 4px;
font-weight: bold;
font-size: 3em;
line-height: 0;
color: #08023d;
}

.found h3 {
font-family: 'Playfair Display';
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 500;
line-height: 0;
color: #08023d;
}

.found .line {
width: 24%;
height: .5%;
background-color: #08023d;
}

.found .learn-more {
background-color: #f5f5f5;
border: 1px solid #08023d;
}

.found .btn {
font-family: 'Playfair Display';
letter-spacing: 1.2px;
}

.found .view-site {
color: #f5f5f5;
background-color: #08023d;
}

.dream h2 {
font-family: 'Montserrat';
color: #f5f5f5;
font-weight: 400;
letter-spacing: 3px;
font-size: 1em;
margin-top: 37%;
}

.dream .view-site {
background-color: #f7ca5a;
font-family: 'Montserrat';
color: #000;
}

.dream .learn-more {
background-color: #00000038;
border: 1px solid #ffffff;
color: #ffffff;
font-family: 'Montserrat';
}

.overlay {
position: relative;
background-color: #000000ab;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100vh;
}

.overlay-items {
text-align: center;
font-family: 'Playfair Display';
width: 100%;
}

.call-button {
background-color: #f1c145 !important;
position: relative;
top: 0;
}

.call-button {
background-color: #e9e9e9 !important;
transition: 1000ms;
}

.dream {
display: flex;
justify-content: center;
align-items: center;
position: relative;
background-image: url(background1.jpg);
background-position-x: 30%;
background-size: cover;
height: 100vh;
}

.container {
display: flex;
justify-content: center;
align-items: center;
}

.navbar {
position: absolute;
top: 0; /* Align to the top of the container */
background-color: #000000;
width: 100%;
padding: 10px 0px;

}

.logo img {
height: 50px;
}

.nav-links a {
text-decoration: none;
color: #fff;
}

.menu {
display: none;
position: absolute;
top: 100%;
left: 0;
background-color: #333;
width: 100%;
}

.about-section {
text-align: left;
padding-bottom: 40px;
min-height: fit-content;
width: 100%;
display: flex;
justify-content: center; /* Centers the container horizontally */
}

.about-box {
background: #f5f5f5;
color: #333;
padding: 20px 20px 20px 20px;
width: 84vw;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.13);
}

.get-to-know {
font-size: 1em;
font-weight: 400;
color: #333;
font-family: 'Montserrat';
}

.space {
margin-left: 20px;
}

.gtk-h1 {
font-size: 1.6em;
font-weight: 300;
letter-spacing: 7px;
text-transform: uppercase;
}

.mission-statement {
font-size: 1em;
line-height: 2;
}

.mission-statement a {
    text-decoration: underline;
    font-style: italic;
    color: #000;
    
}

.about-buttons {
display: flex;
flex-direction: column;
align-items: flex-start;
font-family: 'Montserrat';
}

.about-buttons .about {
font-family: 'Montserrat';
font-weight: 500;
}

.about-buttons .impact {
font-family: 'Montserrat';
}

.slide-section {
    margin-top: 40px;
    margin-bottom: 55px;
    min-height: 100vh;
    }
    
    .carousel-container {
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    }
    
    .carousel {
    display: flex;
    align-items: center;
    width: calc(100% * 3);
    animation: scroll 30s linear infinite;
    }
    
    .slide {
    width: 90vw;
    max-width: 100%;
    height: 100vh;
    flex: 0 0 auto;
    background: #ccc;
    margin: 0 1vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    color: #333;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    }
    
    .slide h3 {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 0;
    }
    
    .slide h2 {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 10px;
    }

    .button-paragraph h4 {
        font-size: 1.3rem;
    }
    
    .button-paragraph {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
    
    .button-paragraph p {
    font-size: 1.5rem;
    margin-bottom: 15px;
    }
    
    .button-paragraph .btn {
    margin-top: 10px;
    }

@keyframes scroll {
0% {
transform: translateX(0);
}
100% {
transform: translateX(-70%);
}
}

.careers-section, .contact-section {
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 50px 20px;
text-align: center;
box-sizing: border-box;
}

.contact-section {
background-image: url(test_image_30.png);
background-position-x: center;
background-position-y: bottom;
background-repeat: no-repeat;
background-size: cover;
color: #e7e7e7;
width: 100vw;
}